<footer>
  <div class="container py-2">
    <div class="row">
      <div class="col-md-4">
        <p class="footer-titre pt-2">Au petit village</p>
        <p>
          3 Rue du petit Menhir <br />
          69009 Lyon
        </p>
       <a href="telto:05.05.05.05.05">05.05.05.05.05</a>
      </div>

      <div class="col-md-4 centre">
        <p class="footer-titre pt-2">Navigation</p>
        <a routerLink="/">Acceuil</a>
        <a routerLink="/about">A propos</a>
        <a routerLink="/contact">Contact</a>
      </div>

      <div class="col-md-4">
        <p class="footer-titre pt-2">Réseaux Sociaux</p>
        <div class="logo">
          <a href="https://www.instagram.com" target="_blank"><i class="fa-brands logo48 fa-instagram" ></i></a>
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands logo48 fa-facebook"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fa-brands logo48 fa-square-twitter"></i></a>
        </div>
      </div>

      
    </div>
  </div><div class="text-center bande">
        <small><i class="fa-regular fa-copyright"></i>Copyright 2022</small>
      </div>
</footer>
