
<div class="text-center mt-3 col-md-12">
<h1 class="mb-2">{{title}}</h1>
<div class="px-2">
<p>
  "Au Petit Village" est bien plus qu'une simple entreprise de fabrication de
  figurines. Nous sommes les gardiens de l'esprit indomptable des Gaulois les
  plus célèbres de tous les temps, Astérix et Obélix. Spécialisés dans la
  création de figurines inspirées de la bande dessinée emblématique, nous sommes
  dévoués à capturer chaque détail, chaque expression et chaque trait de
  caractère qui a charmé des générations entières.
</p>

</div>

<img src="../../assets/images/apropos_image.jpg" alt="" class="img-fluide py-3">
</div>