p, button{
    font-family:comfortaa ;
}

h1, h2, h3, h4{
    font-family: bubbleboddy-neue;
}

.btn{
    background-color: #fdd90b;

}

.btn:hover{
    background-color: #da001e;
}

.info-achat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    border-radius: 15px;
}