<div class="container">
  <div class="col-md-12 py-3 ">
    <p>
       "Au Petit Village" est une entreprise spécialisée dans la fabrication de figurines inspirées de la bande dessinée éponyme. L'entreprise ravive les souvenirs d'une jeunesse passée à suivre les exploits des intrépides héros gaulois. Avec une attention particulière portée à la qualité et au détail, les figurines produites par "Au Petit Village" incarnent fidèlement l'esprit et le charme de l'univers d'Astérix et Obélix, captivant ainsi les collectionneurs et les passionnés de BD.
    </p>

    <div class="separation py-3" >
      <div class="barre"></div>
    </div>
  </div>

  <div>
    <h1>Nos produits</h1>
    <app-search></app-search>
  </div>
</div>
